[user]
	name = Grigory Ustinov
	email = grenka@altlinux.org
	signingkey = 6262D719

[color]
	ui = true

[color "branch"]
	current = yellow reverse
	local = green
	remote = cyan

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = cyan bold
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = cyan dim

[alias]
	st = status
	br = branch
	co = checkout

	go = !sh -c 'git add . && git commit'
	pf = push -f
	fuck = push --tags -f
	wtf = status
	ca = commit -a --amend
	dc = diff --check

	ss = !sh -c 'git push -f sisyphus sisyphus && git push -f --tags sisyphus sisyphus'

	stash-unapply = !git stash show -p | git apply -R
	lg = log --pretty=format:"%h%Creset' '%C(yellow)%ar' '%Cblue%an%Creset'  --->  '%C(bold)%Cred%s" --graph

	ras = !sh -c 'git remote add sisyphus git.alt:/people/grenka/packages/$(basename $(pwd))'
	cmg = "!f(){ name=$1; cd ~/MYPACKAGES && git clone git.alt:/people/grenka/packages/$name ; };f"

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	whitespace = trailing-space,space-before-tab

[help]
	autocorrect = 1
